html, 
body { height: 100%; }
body { margin: 0; }

.box {
	position: absolute;
	width: 100px;
	height: 100px;
}

.center { 
	left: 0;
	right: 0;
	margin: 0 auto; 
}

.center-center {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.top    { top: 0; }	
.right  { right: 0; }
.bottom { bottom: 0; }
.left   { left: 0; }

.pull-left  { float: left; }
.pull-right { float: right; }

.orange { background: #FC440F; }
.blue   { background: #003F91; }
.red    { background: #A72E16; }
.purple { background: #200116; }
.green  { background: #AFFC41; }
.yellow { background: yellow; }
.khaki  { background: khaki; }

.padding-20 { padding: 20px; }
.margin-20  { margin: 20px;}

#target {
	position: relative;	
	width: 50%;
	height: 50%;
	background: #D0DB97;
}

#target:after {
	position: absolute;
	bottom: 0;
	right: 0;
	content: '#target';

}

#target > * {
	position: static;
}